%h1 New page

#section
  %form{ :action => "", :method => "post"}
    %fieldset
      %label{:for => "title"} Title:  
      %input{:type => "text", :name => "page[title]", :class => "input"}
      %br
      %label{:for => "content"} Content:
      %input{:type => "text", :name => "page[content]", :class => "input", :rows => "10" ,:columns => "72"}
      %input{:type => "submit", :value => "Create", :class => "button"}