%a{:href => '/pages'}>Back to index

%h1 
  #{@title}

- if @page.content
  = markdown @page.content
  
%a{:class => "button",:href => "/pages/#{@page.id}/edit"}>Edit
%a{:class => "button",:href => "/pages/delete/#{@page.id}"}>Delete
