%a{:href => '/pages'}>Back to index

%h1 
  #{@title}

- if @page.content
  = markdown @page.content
  
%a{:href => "/pages/#{@page.id}/edit"}>Edit
%a{:href => '/pages/delete/#{@page.id}/edit'}>Delete
